@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.music-home-background {
    background-color: #03174c;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.music-home-background2 {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-stars-bg.png');
    height: 50vh;
    background-size: cover;
}

.music-home-heading {
    color: white;
    font-family: "Bree Serif";
    font-size: 25px;
    text-align: center;
}

.music-home-para {
    color: white;
    font-family: "Bree Serif";
    font-size: 13px;
    text-align: center;
}

.music-home-image {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-bg.png');
    background-size: cover;
    height: 130px;
    width: 230px;
}

.music-home-image-heading {
    color: #ffe7bf;
    font-size: 25px;
    font-family: "Bree Serif";
    padding: 45px;
}

.music-home-para2 {
    color: white;
    font-family: "Bree Serif";
    font-size: 13px;
    width: 230px;
    text-align: center;

}

.button-align {
    text-align: center;
    margin-top: 0px;
}

.button-music {
    background-color: #8e97fd;
    color: white;
    font-family: "Bree Serif";
    border-width: 0px;
    border-radius: 20px;
    font-size: 12px;
    width: 100px;
    height: 30px;
    margin-bottom: 80px;
}

.music-details-image {
    height: 30vh;
    width: 100vw;
}

.music-details-heading {
    color: white;
    font-family: "Bree Serif";
    font-size: 25px;
}

.music-home-details {
    color: #98a1bd;
    font-family: "Bree Serif";
    font-size: 13px;
}

.music-home-details2 {
    color: #ffffff;
    font-family: "Bree Serif";
    font-size: 17px;
}

.music-details-image2 {
    width: 150px;
    height: 100px;
    margin-right: 10px;
}

.music-details-padding {
    padding: 20px;
}

.button-music2 {
    background-color: #8e97fd;
    color: white;
    font-family: "Bree Serif";
    border-width: 0px;
    border-radius: 20px;
    font-size: 12px;
    width: 100px;
    height: 30px;

}